html{
    scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
    width: 100%;
}
.row::after{
    content: '';
    display: table;
    clear: both ;
}

[class*="col-"]{
   float: left;
   padding: 15px;
}

[class*="col-"]{
    width: 100%;
}
/* header starts */
header{
    background-color: rgb(3, 177, 246);
    padding: 1% 5%;
    text-align: center;
}
.logo{
    padding: 15px;
    color: white;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border: 2px solid white;
    border-radius: 50%;
text-align: center;
}
  nav ul li{
      display: block;
      padding: 5px
  }
  nav ul li a{
    display: block;
    color: aliceblue;
    text-decoration: none;
     padding: 0px 10px;
    font-size: 1.2rem;
    line-height: 70px;
    text-transform: uppercase;
    background-color: rgb(171, 104, 220);
    border: 2px solid black;
    border-radius: 20px;
 font-family: sans-serif;
}
nav ul li a:hover{
    background-color: rgb(123, 31, 189);
}
/* header ends */

 /* Banner starts  */
#banner-sec{
    background-image: url(Images/banner.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat
}
.banner-contents{
    padding: 50px 10px;
    text-align: center;
}
.banner-contents h1{
    width:100%;
    background-color: rgb(242, 255, 4);
    color: rgb(6, 6, 6);
    margin: 15px auto;
    font-size: 3rem;
    border-radius: 10px;
    font-family: 'Courgette', cursive;
    padding: 10px;
}
.banner-contents p{
    font-size: 1.4rem;
    color: black;
    background-color: green;
    border-radius: 5px;
    width: 300px;
    margin: 15px auto;
    height: 50px;
    padding: 10px;
}
.btn{
    font-size: 1.3rem;
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    border: none;
    transition: .4s;
    text-transform: uppercase;
    } 
 .btn:hover{
     transform: scale(1.2);
 }
 /* Banner ends  */

 /* About us starts */
#about-us{
    padding: 1%;
}
.about-us-contents{
    text-align: center;
}
.about-us-contents h3{
    font-size: 2rem; 
    margin-bottom: 10px;
    font-weight: bold;
}
.about-us-contents p{
    font-size: .9rem;
    margin-bottom: 10px;
    font-style: italic;
    margin-bottom: 10px;
}
 /* About us ends   */

 /* Food Menu starts */

 .menu-sec{
     padding: 1%;
 }
 .card-body{
     text-align: center;
 }
.card-body img{
    max-width: 100%;
    height: auto;
}
.item-desc{
    background-color: rgba(57, 47, 176, 0.584);
}
.item-name{
    font-size: 1.4rem;
    padding: 10px;
    background-color: green;
    color: white;
}
.item-desc > p{
font-size: 1.2rem;
font-weight: bold;
padding: 10px;
}
.card-body{
    transition: .4s;
}
.card-body:hover{
transform: scale(1.1);
}
  /* Food Menu ends */

  /* Contact starts */

  #contact{
      padding: 1%;
      background-color: rgb(87, 37, 122);
  }
  .contact-details{
      text-align: center;
      color: aliceblue;
      padding: 20px 0;
  }
  .map{
      width: 100%;
      height: 250px;
  }
.contact-details h4{
    font-size: 1.2rem;
    color: rgb(15, 171, 243);
    font-weight: bold;
    padding: 10px;
}
.contact-details p{
    font-size: 1rem;
    padding: 5px;
}
    /* Contact ends */

    /* footer starts */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1%;
    line-height: 30px;
}
.footer p{
    padding-top: 10px;
}
.media-icons a{
    color: white;
    height: 40px;
    width: 50px;
    line-height: 40px;
    padding: 10px 10px;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 4px;
    transition: 0.9s;
}
 .media-icons a:hover{
     background-color: rgba(128, 128, 128, 0.987);
     transform: scale(1.2);
 }
    /* footer ends */

/* For Small devices */
@media  (min-width: 576px){
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

/* For Large devices */
@media  (min-width: 992px){
    .logo-div{
        text-align: left;
    }
    nav ul{
        text-align: right;
    }
    nav ul li{
        display: inline-block;
        background-color: rgb(3, 177, 246);
    }
    nav ul li a{
        display: inline-block;
        background-color: rgb(3, 177, 246);
        border: none;
    
    }
    nav ul li a:hover{
        background-color: transparent;
        transition: .4s;
        transform: scale(1.2);
        text-decoration: underline;
        border-radius: 0;
    }
     #menu-sec{
    overflow: scroll;
    scroll-behavior: smooth;
    }
    #banner-sec{
    position: relative;
    height: 100vh;
    }
    .banner-contents{
        position: absolute;
        top:50% ;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .banner-contents h1{
        width: 700px;
        font-size: 3.5rem;
    }
    .banner-contents p{
        width: 500px;
        font-size: 2rem;
    }
    footer p{
    text-align: left;
    }
    .media-icons{
        text-align: right;
    }
    .media-icons a{
        padding: 10px 20px;
    }
       
    
    
        .col-lg-1 {width: 8.33%;}
        .col-lg-2 {width: 16.66%;}
        .col-lg-3 {width: 25%;}
        .col-lg-4 {width: 33.33%;}
        .col-lg-5 {width: 41.66%;}
        .col-lg-6 {width: 50%;}
        .col-lg-7 {width: 58.33%;}
        .col-lg-8 {width: 66.66%;}
        .col-lg-9 {width: 75%;}
        .col-lg-10 {width: 83.33%;}
        .col-lg-11 {width: 91.66%;}
        .col-lg-12 {width: 100%;}
    }